---
# https://docs.travis-ci.com/user/customizing-the-build/
language: python
python:
  - "2.7"
#before_install:
# - sudo apt-get update -qq
# - sudo apt-get install -qq python-apt python-pycurl
install:
  - pip install -U pip
  - pip install -U setuptools
  - pip install -U wheel
  - pip install -r requirements-dev.txt
  - pip install -e .[templates,repl]
script:
  - paver test
  - paver functest
  - paver installtest

# gitter.im
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/f8b72e277648046791cf
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
