### rtorrent settings #######################################################
#
# This is the standard configuration that supports both PyroScope and
# (optionally) rTorrent-PS features. This file is configured for a
# rTorrent instance located in
#
#       RT_HOME
#
# If you run rTorrent-PS, see below on how to unlock additional support.
#
#############################################################################

# Root directory of this instance.
method.insert = cfg.basedir, private|const|string, (cat, "RT_HOME", "/")

# Set "pyro.extended" to 1 to activate rTorrent-PS features!
method.insert = pyro.extended, const|value, 0

# Set "pyro.bin_dir" to the "bin" directory where you installed the pyrocore tools!
# Make sure you end it with a "/"; if this is left empty, then the shell's path is searched.
method.insert = pyro.bin_dir, const|string, ~/bin/

# Since "network.scgi.open_local" is parsed by "rtcontrol", this must be a literal value,
# and also not moved out of the main configuration file!
network.scgi.open_local = RT_HOME/.scgi_local
##network.scgi.open_port = localhost:5099

# SCHEDULE: Make SCGI socket group-writable and secure
schedule2 = scgi_permission,0,0,"execute.nothrow=chmod,\"g+w,o=\",RT_HOME/.scgi_local"


#
# Import settings from "RT_HOME/rtorrent.d"
#
# Prefer to put your own custom settings into additional files in that directory!
#

execute2 = (cat,(pyro.bin_dir),pyroadmin),-q,--create-import,(cat,(cfg.basedir),"rtorrent.d/*.rc")
import = (cat,(cfg.basedir),"rtorrent.d/.import.rc")


#
# Embedded local settings
#

# Add anything of your own here...
# But better put your own custom settings into additional files in 'rtorrent.d'!

# NETWORK: Unwanted peers
##ipv4_filter.add_address = 1.2.3.666, unwanted

### END rtorrent.rc #########################################################
